<!DOCTYPE html>
<html>
<head>
  <title>Top5</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if @current_user %>
    <p>Welcome, <%= @current_user.username %></p>
    <button><a href="/logout">Logout</a></button>
  <% end %>


<%= yield %>

</body>
</html>
